# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
tfplan*
*.tfvars
.terraform.lock.hcl
.terraform.tfstate.backup

*out
*logs
*actions
*notifications
*tools
plugins
user_trunk.yaml
user.yaml
tmp
